html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;

}

.contents {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hooks-parent {
  width: 100vw;
  height: 100vh;
  position: relative;
  border: 1px solid;
  background-color: black;
}

.hooks-child {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center; 
  align-items: center;
  /* padding: 24px; */
}

.input-container{
  display: flex;
  color: white;
  flex-direction: column;
}